.navLogo{

  height: 80px;

}


.nav-icon{
  color: white;
  height: 30px;
  font-size: 2.2rem;

}

.my-icon{

  filter: invert(100%);

}

.car-icon{

  height: 50px;

}

.track-icon{

  height: 45px;

}

.nav-top-icon{

  font-size: 1.5rem;
  color: white;

}

.offcanvas {
  bottom: initial;
 }

 .off-c-text{

  font-size: .8rem;
  color: white;

 }
