
<!-- NOT LOGGED -->

<header *ngIf="!isLoggedIn$" class="d-flex flex-wrap justify-content-center py-3 mb-4">
  <a routerLink="/homepage" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img class="ms-3 me-3 navLogo" src="../../../assets/logo-motorOne.png" alt="logo-motorOne"><span class="fs-4">MotorOne</span>
  </a>

  <ul class="nav nav-pills me-3">
    <li class="nav-item"><a routerLinkActive="active" routerLink="/homepage" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a routerLinkActive="active" href="#" class="nav-link">Drivers</a></li>
    <li class="nav-item"><a routerLinkActive="active" href="#" class="nav-link">Constructors</a></li>
    <li class="nav-item"><a routerLinkActive="active" href="#" class="nav-link">Circuits</a></li>
    <li class="nav-item"><a routerLinkActive="active" routerLink="/auth/login" class="nav-link">Login</a></li>
    <li class="nav-item"><a routerLinkActive="active" routerLink="/auth/register" class="nav-link">Register</a></li>
  </ul>
</header>

<!-- LOGGED -->

<header *ngIf="isLoggedIn$" class="d-flex flex-wrap justify-content-center py-3 mb-4">
  <a routerLink="/homepage" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img class="ms-3 me-3 navLogo" src="../../../assets/logo-motorOne.png" alt="logo-motorOne"><span class="fs-4">MotorOne</span>
  </a>

  <ul class="nav nav-pills me-3">
    <li class="nav-item"><a routerLinkActive="active" routerLink="/homepage" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a routerLinkActive="active" href="#" class="nav-link">Drivers</a></li>
    <li class="nav-item"><a routerLinkActive="active" href="#" class="nav-link">Constructors</a></li>
    <li class="nav-item"><a routerLinkActive="active" href="#" class="nav-link">Circuits</a></li>
    <li class="nav-item"><a routerLinkActive="active" routerLink="/profile" class="nav-link">Profile</a></li>
    <li class="nav-item"><a (click)="logout()" class="nav-link">Logout</a></li>
  </ul>
</header>
