<div class="container rounded bg-white mt-5 mb-5">
  <form [formGroup]="myForm" (ngSubmit)="update()" class="row">
    <!-- Left column -->
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center">
        <img class="rounded-circle mt-5" width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
        <span class="font-weight-bold">{{this.userData.user.name}}</span>
        <span class="text-black-50"></span>
        <span> </span>
      </div>
      <div class="mt-5 text-center">
        <button class="btn btn-primary profile-button" type="button">Carica un'immagine profilo</button>
      </div>
    </div>

    <!-- Right column -->
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Name</label>
            <input formControlName="name" type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col-md-6">
            <label class="labels">Surname</label>
            <input formControlName="surname" type="text" class="form-control" placeholder="Surname">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Password</label>
            <div class="input-group">
              <input formControlName="password" [type]="passwordType" class="form-control" placeholder="Enter your password">
              <div class="input-group-append">
                <span class="input-group-text" (click)="togglePasswordVisibility()">
                  <i class="bi bi-eye-fill" [ngClass]="{'bi-eye': passwordType === 'password', 'bi-eye-fill': passwordType === 'text'}"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label class="labels">Confirm Password</label>
            <div class="input-group">
              <input formControlName="confirmPassword" [type]="confirmPasswordType" class="form-control" placeholder="Confirm password">
              <div class="input-group-append">
                <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()">
                  <i class="bi" [ngClass]="{'bi-eye': confirmPasswordType === 'password', 'bi-eye-slash': confirmPasswordType === 'text'}"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label class="labels">Email</label>
            <input formControlName="email" type="text" class="form-control" placeholder="Enter your email">
          </div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="submit">Update Profile</button>
        </div>
      </div>
    </div>
  </form>
</div>
