<!--<div class="position-relative text-center bg-body-tertiary first-container d-flex align-items-center">
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-3 fw-bold text-white header-text">Where F1 belongs.</h1>
    <h3 class="fw-normal mb-3 text-white">Discover Motor one!</h3>
  </div>
</div> !-->


<div class="position-relative">

  <div class="img-container">

    <img class="img" src="../../../assets/f1-cars-3840x2160-18246.png" alt="img-cars">

  </div>
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-3 fw-bold text-white header-text position-absolute top-50 h-100">Where F1 belongs.</h1>
    <h3 class="fw-normal mb-3 text-white position-absolute">Discover Motor one!</h3>
  </div>


</div>
